<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.blend.ndkadvanced">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NDKAdvanced">
        <activity
            android:name=".camerax.CameraXActivity"
            android:label="CameraX" />
        <activity
            android:name=".x264.X264Activity"
            android:label="X264" />
        <activity
            android:name=".rtmp.RTMPActivity"
            android:label="RTMP" />
        <activity
            android:name=".audio.AudioActivity"
            android:label="音频" />
        <activity
            android:name=".videochat.push.PushVideoChatActivity"
            android:label="视频通话推流端" />
        <activity
            android:name=".videochat.player.PlayerVideoChatActivity"
            android:label="视频通话播放端" />
        <activity
            android:name=".screenshare.player.PlayerScreenShareActivity"
            android:label="屏幕共享播放端" />
        <activity
            android:name=".screenshare.push.PushScreenShareActivity"
            android:label="屏幕共享推流端" />
        <activity
            android:name=".camera1.Camera1Activity"
            android:label="Camera1" />
        <activity
            android:name=".h265.H265Activity"
            android:label="H265编解码" />
        <activity
            android:name=".golomb.GolombActivity"
            android:label="哥伦布编码" />
        <activity
            android:name=".h264.H264Activity"
            android:label="H264编解码"
            android:launchMode="singleTask" />
        <activity
            android:name=".gif.GifDemoActivity"
            android:label="Gif Demo" />
        <activity
            android:name=".hello.HelloWorldActivity"
            android:label="Hello World" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".h264.ScreenShortService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="mediaProjection" />
        <service
            android:name=".screenshare.push.PushScreenShareService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="mediaProjection" />
        <service
            android:name=".rtmp.ScreenLiveService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="mediaProjection" />
    </application>

</manifest>